.wrapper::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: var(--background-linear-gradient);
}

.video {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  object-fit: cover;
  object-position: center;
}

