.container {
  width: 312px;
  height: 184px;
  background-color: blue;
  transform: skew(calc(var(--skew-deg) * -1));
  box-shadow: 0 0 20px 5px var(--dodger-blue);
  background-size: cover;
  position: relative;
}

.image {
  width: 100%;
  height: 132%;
  transform: skew(var(--skew-deg));
  object-fit: contain;
  top: -40%;
  position: absolute;
}
