:root {
  --black-pearl: #050f1b;
  --nile-blue: #18304a;
  --kashmir-blue: #536d8e;
  --medium-blue: #2b39e2;
  --dodger-blue: #448bf8;
  --gold: #e8b412;
  --text: #ffffff;
  --background-linear-gradient: linear-gradient(
    90deg,
    rgba(72, 120, 193, 0.6) 0%,
    #2e4b6b 50%,
    rgba(72, 120, 193, 0.6) 90%
  );

  --page-limit: 1400px;
  --main-container-height: calc(100% - 120px);
  --image-shadow: drop-shadow(-13px 4px 28px rgba(24, 48, 74, 0.5));
  --skew-deg: 15deg;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  color: var(--text);
  background-repeat: no-repeat;
  background-image: url("/images/background.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

html::before,
body::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}

html::before {
  background-image: var(--background-linear-gradient);
}

body::before {
  background-image: url("/images/aloy-background.png");
  background-size: 50%;
  background-position: top center;
  background-repeat: no-repeat;
  opacity: 0.3;
}

header,
main {
  max-width: var(--page-limit);
  margin: auto;
  position: relative;
  padding: 24px 0;
}

main {
  height: var(--main-container-height);
}

button {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  text-transform: lowercase;
  cursor: pointer;
  transition: 0.8s;
}
